<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>armour.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{54,47}</string>
                <key>textureRect</key>
                <string>{{0,0},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,290}</string>
                <key>spriteSourceSize</key>
                <string>{334,290}</string>
                <key>textureRect</key>
                <string>{{54,0},{334,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helmet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{388,0},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,52}</string>
                <key>spriteSourceSize</key>
                <string>{49,52}</string>
                <key>textureRect</key>
                <string>{{425,0},{49,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cow_and_crowd.png</string>
            <key>size</key>
            <string>{474,290}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c414e6d2057b1296cf72cc2c969b59cd:c26b6d4c7f68ae4e7ca5f52416a8d921:d3138bf27c861f4419b5cc785d1c69a7$</string>
            <key>textureFileName</key>
            <string>cow_and_crowd.png</string>
        </dict>
    </dict>
</plist>
