<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,68}</string>
                <key>spriteSourceSize</key>
                <string>{97,68}</string>
                <key>textureRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bird_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,62}</string>
                <key>spriteSourceSize</key>
                <string>{93,62}</string>
                <key>textureRect</key>
                <string>{{0,68},{93,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bird_sheet.png</string>
            <key>size</key>
            <string>{97,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d9959404868c70f4adb523ef385458:1f2ae53bec2073985bef91ba3307227a:65aa38d58d4b30af2946c6407a00d51d$</string>
            <key>textureFileName</key>
            <string>bird_sheet.png</string>
        </dict>
    </dict>
</plist>
