<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dino_dead.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,101}</string>
                <key>spriteSourceSize</key>
                <string>{86,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{86,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_duck_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,60}</string>
                <key>spriteSourceSize</key>
                <string>{118,60}</string>
                <key>textureRect</key>
                <string>{{86,0},{118,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_duck_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,60}</string>
                <key>spriteSourceSize</key>
                <string>{116,60}</string>
                <key>textureRect</key>
                <string>{{204,0},{116,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{320,0},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_run_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,94}</string>
                <key>spriteSourceSize</key>
                <string>{87,94}</string>
                <key>textureRect</key>
                <string>{{408,0},{87,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_run_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,94}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{495,0},{88,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dino_start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,101}</string>
                <key>spriteSourceSize</key>
                <string>{97,101}</string>
                <key>textureRect</key>
                <string>{{583,0},{97,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dino_sheet.png</string>
            <key>size</key>
            <string>{680,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c9dae02013e0816aba9f8f348769ba9c:ebc2465dfe6bd44ee942eef58f650a6f:7c9818b6cbba2b058f4f52adc529040c$</string>
            <key>textureFileName</key>
            <string>dino_sheet.png</string>
        </dict>
    </dict>
</plist>
