<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cactus_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,95}</string>
                <key>spriteSourceSize</key>
                <string>{48,95}</string>
                <key>textureRect</key>
                <string>{{2,2},{48,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,95}</string>
                <key>spriteSourceSize</key>
                <string>{99,95}</string>
                <key>textureRect</key>
                <string>{{54,2},{99,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,95}</string>
                <key>spriteSourceSize</key>
                <string>{102,95}</string>
                <key>textureRect</key>
                <string>{{157,2},{102,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,71}</string>
                <key>spriteSourceSize</key>
                <string>{40,71}</string>
                <key>textureRect</key>
                <string>{{263,2},{40,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,71}</string>
                <key>spriteSourceSize</key>
                <string>{68,71}</string>
                <key>textureRect</key>
                <string>{{307,2},{68,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cactus_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,71}</string>
                <key>spriteSourceSize</key>
                <string>{105,71}</string>
                <key>textureRect</key>
                <string>{{379,2},{105,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cactus_sheet.png</string>
            <key>size</key>
            <string>{486,99}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed3d21209326229c1ff5c3f2dcd18f04:ccae13a9f3901b55c07067bba1540e6b:4aab889d09e76ddda915a80c648e3366$</string>
            <key>textureFileName</key>
            <string>cactus_sheet.png</string>
        </dict>
    </dict>
</plist>
