<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,101}</string>
                <key>spriteSourceSize</key>
                <string>{84,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{84,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,40}</string>
                <key>spriteSourceSize</key>
                <string>{386,40}</string>
                <key>textureRect</key>
                <string>{{84,0},{386,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reset.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,101}</string>
                <key>spriteSourceSize</key>
                <string>{75,101}</string>
                <key>textureRect</key>
                <string>{{470,0},{75,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>track.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2404,28}</string>
                <key>spriteSourceSize</key>
                <string>{2404,28}</string>
                <key>textureRect</key>
                <string>{{545,0},{2404,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>other_sheet.png</string>
            <key>size</key>
            <string>{2949,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94181de0190b3597200073de276c9b54:d962c76a829e3a0a94bfd2a281d83227:02cee35d640706c79abdaaaa284397e0$</string>
            <key>textureFileName</key>
            <string>other_sheet.png</string>
        </dict>
    </dict>
</plist>
